Tema1/Relacion Repaso DTD y XSD/ejercicio-agencia-viajes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="agencia">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="paquete" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="destino" maxOccurs="unbounded">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" />
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="precio">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:minInclusive value="0" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="fechaInicio">
                                <xs:simpleType>
                                    <xs:restriction base="xs:date"/>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="fechaFin">
                                <xs:simpleType>
                                    <xs:restriction base="xs:date"/>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="tipo">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="aventura" />
                                        <xs:enumeration value="relax" />
                                        <xs:enumeration value="cultural" />
                                        <xs:enumeration value="familiar" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="cliente" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="^[A-Z][a-zA-Z]*$"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="dni">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="(\d{8}[A-Z])" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="edad">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                    <xs:minInclusive value="18" />
                                                    <xs:maxInclusive value="99" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="email">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                <xs:pattern value="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="codigo" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="PKT-\d{4}" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>


<!-- Ejercicio 5 – Agencia de Viajes
Crea un XSD y un XML para una agencia que gestiona paquetes turísticos.

Requisitos:
El elemento raíz será <agencia>.
Contendrá varios <paquete> con:
Atributo codigo obligatorio (formato: PKT-XXXX → regex).
destino (cadena obligatoria).
precio (decimal mayor que 0).
fechaInicio y fechaFin (tipo xs:date, la segunda debe ser posterior).
tipo (enumeración: Aventura, Relax, Cultural, Familiar).
Cada paquete incluye una lista de cliente:
nombre (string que empiece por mayúscula → regex).
dni (regex: 8 dígitos + 1 letra mayúscula).
edad (entero entre 18 y 99).
email (regex formato válido).

👉 Tu tarea:
Crea el XSD completo con restricciones y tipos complejos.
Genera un XML válido con al menos 2 paquetes turísticos. -->